## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [1]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [20]:
auto= pd.read_csv("Automobile (1)-1.csv")

**Check the head of the DataFrame.**

In [4]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [11]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
symboling              201 non-null int64
normalized_losses      201 non-null int64
make                   201 non-null object
fuel_type              201 non-null object
aspiration             201 non-null object
number_of_doors        201 non-null object
body_style             201 non-null object
drive_wheels           201 non-null object
engine_location        201 non-null object
wheel_base             201 non-null float64
length                 201 non-null float64
width                  201 non-null float64
height                 201 non-null float64
curb_weight            201 non-null int64
engine_type            201 non-null object
number_of_cylinders    201 non-null object
engine_size            201 non-null int64
fuel_system            201 non-null object
bore                   201 non-null float64
stroke                 201 non-null float64
compression_ratio      201 non-null float64
horsepower             201 non-null int64
peak_rpm               201 non-null int64
city_mpg               201 non-null int64
highway_mpg            201 non-null int64
price                  201 non-null int64
dtypes: float64(7), int64(9), object(10)
memory usage: 41.0+ KB

**What is the average Price of all cars in the dataset?**

In [5]:
auto['price'].mean()

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [24]:
auto[auto['price'] == auto['price'].min()]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
134,2,83,subaru,gas,std,two,hatchback,fwd,front,93.7,...,97,2bbl,3.62,2.36,9.0,69,4900,31,36,5118

In [25]:
auto[auto['price'] == auto['price'].max()]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
71,1,140,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400

**How many cars have horsepower greater than 100?**

In [28]:
auto[auto['horsepower']>100]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [29]:
auto[auto['horsepower']>100].count()

symboling              90
normalized_losses      90
make                   90
fuel_type              90
aspiration             90
number_of_doors        90
body_style             90
drive_wheels           90
engine_location        90
wheel_base             90
length                 90
width                  90
height                 90
curb_weight            90
engine_type            90
number_of_cylinders    90
engine_size            90
fuel_system            90
bore                   90
stroke                 90
compression_ratio      90
horsepower             90
peak_rpm               90
city_mpg               90
highway_mpg            90
price                  90
dtype: int64

**How many hatchback cars are in the dataset ?**

In [30]:
auto[auto['body_style']=="hatchback"].count()

symboling              68
normalized_losses      68
make                   68
fuel_type              68
aspiration             68
number_of_doors        68
body_style             68
drive_wheels           68
engine_location        68
wheel_base             68
length                 68
width                  68
height                 68
curb_weight            68
engine_type            68
number_of_cylinders    68
engine_size            68
fuel_system            68
bore                   68
stroke                 68
compression_ratio      68
horsepower             68
peak_rpm               68
city_mpg               68
highway_mpg            68
price                  68
dtype: int64

**What are the 3 most commonly found cars in the dataset?**

In [42]:
auto['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
subaru           12
volkswagen       12
volvo            11
peugot           11
dodge             9
bmw               8
mercedes-benz     8
plymouth          7
audi              6
saab              6
porsche           4
chevrolet         3
alfa-romero       3
jaguar            3
isuzu             2
renault           2
mercury           1
Name: make, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [47]:
auto['make'][auto['price'] == 7099]

87    nissan
Name: make, dtype: object

**Which cars are priced greater than 40000?**

In [48]:
auto['make'][auto['price'] >40000]

15              bmw
70    mercedes-benz
71    mercedes-benz
Name: make, dtype: object

**Which are the cars that are both a sedan and priced less than 7000?**

In [51]:
auto['make'][auto['price'] <7000][auto['body_style'] == 'sedan']

19      chevrolet
24          dodge
42          isuzu
50          mazda
82     mitsubishi
86         nissan
88         nissan
89         nissan
118      plymouth
152        toyota
Name: make, dtype: object

### The END